<div class="container">
  <h1>Pipes</h1>
  <div class="row">
    <div class="col-4">
      <select [(ngModel)]="filterKey" class="form-control">
        <option value="">all columns</option>
        <option *ngFor="let key of keys" [value]="key">
          {{ key | titlecase }}
        </option>
      </select>
    </div>
    <div class="col-8">
      <input [(ngModel)]="phrase" type="text" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table mt-3">
        <thead>
          <tr>
            <th *ngFor="let key of keys">{{ key | titlecase }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of movieList | filter:phrase:filterKey">
            <td *ngFor="let key of keys">{{ movie[key] }}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
