<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Category</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users$ | async">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.category }}</td>
            <td>
              <button class="btn btn-info"><i class="fa fa-eye"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
