<div class="row">
  <div class="col-6 offset-3">
    <form (ngSubmit)="onUpdate()" [formGroup]="group">
      <input formControlName="id" type="hidden" name="id">
      <div class="form-group">
        <label for="form-name">Name</label>
        <input
          formControlName="name"
          type="text"
          name="name"
          id="form-name"
          class="form-control">
        <div [hidden]="group.controls['name']?.valid" class="error-message">
          Please give a name.
        </div>
      </div>
      <div class="form-group">
        <label for="form-email">Email</label>
        <input
          formControlName="email"
          type="text"
          name="email"
          id="form-email"
          class="form-control">
      </div>
      <div class="form-group">
        <label for="form-cat">Cat.</label>
        <input
          formControlName="category"
          type="text"
          name="category"
          id="form-cat"
          class="form-control">
      </div>

      <button
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="group.invalid">
        <i class="fa fa-save"></i>
      </button>
    </form>
  </div>
</div>
