service cloud.firestore {
  match /databases/{database}/documents {
    match /product/{delivery_item} {
      allow read, write: if true;
    }
  }
}